/* Base styles */
/* http://viewsource.in/https://slack.global.ssl.fastly.net/e2cd/style/rollup-client_general.css#L33 */
* {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	overflow: hidden;
}

body {
	/* http://viewsource.in/https://slack.global.ssl.fastly.net/4b7a/style/rollup-client_core.css#L973 */
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1rem;
  background: #fff;
  color: #555459;
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
	color: inherit;
}

/* Generic components/classes */
.badge-container {
	position: relative;
}

.badge {
	position: absolute;
	/* Position in upper right at midpoint of badge */
	right: -9px;
	top: -9px;
	/* Paint our badge red */
	/* http://viewsource.in/https://slack.global.ssl.fastly.net/c239/style/rollup-client_secondary.css#L2536 */
	background: #eb4d5c;
	/* Make a square badge */
	width: 18px;
	height: 18px;
	/* Make our badge circular */
	border-radius: 9px;
	/* Adjust find sizings to line up */
	font-size: 14px;
	line-height: 18px; /* Same as width/height */
}

.icon--small {
	/* http://viewsource.in/https://slack.global.ssl.fastly.net/c239/style/rollup-client_secondary.css#L1070 */
	border-radius: 0.2rem;

	/* Scale down to be same size as user icons */
	height: 36px;
	width: 36px;
}

.link--muted {
	/* http://viewsource.in/https://slack.global.ssl.fastly.net/4b7a/style/rollup-client_core.css#L1225 */
	color: #847987;
	-webkit-transition: all .25s cubic-bezier(.16, .85, .5, 1) .25s;
	-moz-transition: all .25s cubic-bezier(.16, .85, .5, 1) .25s;
	transition: all .25s cubic-bezier(.16, .85, .5, 1) .25s;
}

.link--muted:hover {
	color: white;
}

.link--hidden {
	text-decoration: none;
}


/* Application specific components/classes */
/* Application container */
.slack-application {
	display: flex;
	height: 100%;
}

/* Team sidebar */
.team-sidebar {
	background: #362533;
	color: white;
	/* Width is 44px + 1rem padding */
	flex-basis: 76px;
	min-width: 76px;
	order: -1;
	text-align: center;
	position: relative;
}

.team-sidebar__row {
	margin: 16px 0;
	position: relative;
}

.team-sidebar__row--active::before {
	display: block;
	position: absolute;
	content: '\A0';
	background: white;

	width: 4px;
	/* Same as icon */
	height: 36px;

	/* Use same border radius as icon for good measure */
	border-radius: 0 0.2rem 0.2rem 0;
}

.team-sidebar__row--unread::before {
	display: block;
	position: absolute;
	content: '\A0';
	/* https://css-tricks.com/snippets/css/css-triangle/ */
	width: 0;
	height: 0;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid #A296A4;
	top: 14px;
}

/* One-off to make badge-container same width as icon--small */
.team-sidebar__badge-container {
	width: 36px;
	margin: 0 auto;
}

/* One-off for our add icon */
.team-sidebar__add-team {
	/* http://viewsource.in/https://slack.global.ssl.fastly.net/4b7a/style/rollup-client_core.css#L1220 */
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  height: 4rem;

  font-size: 1.8rem; /* Increased font size to match mock */
  line-height: 1.4rem;

  padding: 1.4rem 1rem 0;
}

/* Window switcher */
.slack-window-container {
	height: 100%;
	flex-grow: 1;
}

.slack-window {
	width: 100%;
	height: 100%;
}

/* Trumps */
.hidden {
	display: none;
}

.font--alternative {
	font-family: Lato, appleLogo, sans-serif;
}

.text--bold {
  font-weight: bold;
}
